<p id="notice"><%= notice %></p>

<p class="page_text"><strong>Title:</strong> <%= @book.title %></p>
<p class="page_text"><strong>Body:</strong> <%= @book.body %></p>

<p><%= link_to 'Edit', edit_book_path %> | <%= link_to 'Back', books_path %></p>